<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list >
          <!-- <ion-item> -->
            <ion-card [routerLink]="['/news']" style="background-color: rgb(232, 232, 232);">
              <img alt="News" src="../../assets/news.jpg">
              <ion-card-header>
                <ion-card-title>News</ion-card-title>
              </ion-card-header>
              <ion-card-content>Latest News on the internet</ion-card-content>
            </ion-card>
          <!-- </ion-item> -->
          <!-- <ion-item> -->
            <ion-card [routerLink]="['/sports']" style="background-color: rgb(232, 232, 232);">
              <img alt="Sports" src="../../assets/sports.jpg">
              <ion-card-header>
                <ion-card-title>Sports</ion-card-title>
              </ion-card-header>
              <ion-card-content>See live scores for different sports</ion-card-content>
            </ion-card>
          <!-- </ion-item> -->
          <!-- <ion-item> -->
            <ion-card [routerLink]="['/weather']" style="background-color: rgb(232, 232, 232);">
              <img alt="Weather" src="../../assets/weather.png">
              <ion-card-header>
                <ion-card-title>Weather</ion-card-title>
              </ion-card-header>
              <ion-card-content>See the weather in your location</ion-card-content>
            </ion-card>
          <!-- </ion-item> -->
        
      </ion-list>
      <!-- <ion-button [routerLink]="['/news']">News</ion-button>
      <hr>
      <ion-button [routerLink]="['/sports']">Sports</ion-button>
      <hr>
      <ion-button [routerLink]="['/weather']">Weather</ion-button> -->
    </ion-content>
</ion-app>
